include README.md
include LICENSE
include pyproject.toml
recursive-include toolbox *.py
recursive-include toolbox py.typed
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
